<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, this post from Golden Blog was deleted because of some reasons</h3>
    <p><%= @post_title %></p>

    <p><%= @author %></p>
    <hr/>
    <br>
    <p><%= @post_title %></p>

    <p><%= @author %></p>
  </body>
</html>
