<div class="container">
  <div class="row p-5">
    <div class="col-md-7">
      <div class="row">
        <%= render @posts %>
      </div>
    </div>
    <div class="col-md-5 ">
      <div class="position-sticky sticky-top">
        <%= render "layouts/right_side_bar" %>
      </div>
    </div>
  </div>
</div>
