<div class="container">
  <div class="row p-5">
    <div class="col-md-7">
      <div class="row post-list">
        <%= render @posts %>
      </div>
      <div class="pagination-wrapper d-none text-center">
         <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
      </div>
    </div>
    <div class="d-none d-sm-none d-md-block col-md-5 col-lg-5 col-xl-5">
      <div class="position-sticky sticky-top">
        <%= render "layouts/right_side_bar" %>
      </div>
    </div>
  </div>
</div>
