<div class="container feeds">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <%= render @posts %>
      </div>
    </div>
    <div class="col-md-5">RIGHT BAR</div>
  </div>
</div>
